<div class="container">
  <div class= "row">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h4>商品一覧</h4>
    </div>
  </div>
</div>

<div class= "row">

  <div class="col-sm-10 px-sm-0 mx-auto mb-5">
 　<table class="col-sm-10 px-sm-0 mx-auto mb-5">
    <thead class= "table-secondary">
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
      </tr>
    </thead>
    <% @items.each do |item| %>
     <tr>
       <td class="align-middle"><%= item.id %></td>
       <td class="align-middle"><%= link_to item.name, admin_item_path %></td>
       <td class="align-middle"><%= item.price %>
     </tr>
    <% end %>
   </table>
  </div>
 <%= paginate @items %>
</div>




