<body>

  <header>
   <h2>ロゴ</h2>

   <%= link_to 'about', about_path %>
   <%= link_to '商品一覧',items_path  %>
   <%= link_to '新規登録',new_customer_registration_path  %>
   <%= link_to 'ログイン',new_customer_session_path %>
   
   


  </header>
</body>

<h1>topページ</h1>
<p>ようこそ、ながのCAKEへ！
このサイトは、ケーキ販売のECサイトになります。
会員でない方も商品の閲覧はできますが、
購入には会員登録が必要になります。</p>