<div class="container">
   <div class = "pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center"></div>
   <div class="col-12">
   <h3 class="text-center">ご注文ありがとうございました！</h3>
   </div>
 </div>
</div>